.layout_container {
  display: flex;
  width: 100%;
  // height: calc(100vh - $base-header-height);
  background-color: #f2f3f7;

  .layout_slider {
    color: white;
    width: $base-menu-width;
    height: 100vh;
    background: $base-color-primary;
    transition: all 0.2s;
    &.fold {
      width: $base-menu-min-width;
      left: $base-menu-min-width;
      > div {
        justify-content: center;
        padding: 0;
      }
    }
    .logo {
      width: 36px;
      display: flex;
      align-items: center;
    }
    > div {
      padding-left: 16px;
      height: $base-header-height;
      display: flex;
      align-items: center;
      // justify-content: center;
    }
  }

  .layout_content {
    height: calc(100vh - $base-header-height - 20px - $base-tagList-height);
    overflow: hidden;
    overflow-y: auto;
    margin: 10px;

    transition: all 0.3s;
    > div {
      // padding: 0 4px;
      // background-color: #fff;
      padding: 10px;
      border-radius: 4px;

      // padding-bottom: 10px;
    }
    &.fold {
      // width: calc(100vw - $base-menu-min-width);
      left: $base-menu-min-width;
      height: 100%;
    }
  }
}
