.layout_tagList {
  padding: 4px 10px;
  background-color: $base-bgcolor-default;
  height: $base-tagList-height;
  .layout_tagList_wrapper {
    display: flex;
    > div > div {
      margin-left: 10px;
    }
  }
}
