@import '@/assets/styles/constant';
@import '@/assets/styles/utils';

.sui-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  @include when(justify-center) {
    justify-content: center;
  }
  @include when(justify-end) {
    justify-content: flex-end;
  }
  @include when(justify-space-between) {
    justify-content: space-between;
  }
  @include when(justify-space-around) {
    justify-content: space-around;
  }

  @include when(align-top) {
    align-items: flex-start;
  }

  @include when(align-middle) {
    align-items: center;
  }
  @include when(align-bottom) {
    align-items: flex-end;
  }
}

@for $i from 0 through 24 {
  .sui-col-#{$i} {
    width: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-offset-#{$i} {
    margin-left: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-pull-#{$i} {
    position: relative;
    right: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-push-#{$i} {
    position: relative;
    left: (1 / 24 * $i * 100) * 1%;
  }
  .sui-col-xs-#{$i} {
    width: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-xs-offset-#{$i} {
    margin-left: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-xs-pull-#{$i} {
    position: relative;
    right: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-xs-push-#{$i} {
    position: relative;
    left: (1 / 24 * $i * 100) * 1%;
  }
  .sui-col-sm-#{$i} {
    width: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-sm-offset-#{$i} {
    margin-left: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-sm-pull-#{$i} {
    position: relative;
    right: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-sm-push-#{$i} {
    position: relative;
    left: (1 / 24 * $i * 100) * 1%;
  }
  .sui-col-md-#{$i} {
    width: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-md-offset-#{$i} {
    margin-left: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-md-pull-#{$i} {
    position: relative;
    right: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-md-push-#{$i} {
    position: relative;
    left: (1 / 24 * $i * 100) * 1%;
  }
  .sui-col-lg-#{$i} {
    width: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-lg-offset-#{$i} {
    margin-left: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-lg-pull-#{$i} {
    position: relative;
    right: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-lg-push-#{$i} {
    position: relative;
    left: (1 / 24 * $i * 100) * 1%;
  }
  .sui-col-xl-#{$i} {
    width: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-xl-offset-#{$i} {
    margin-left: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-xl-pull-#{$i} {
    position: relative;
    right: (1 / 24 * $i * 100) * 1%;
  }

  .sui-col-xl-push-#{$i} {
    position: relative;
    left: (1 / 24 * $i * 100) * 1%;
  }
}
