.layout_header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: $base-header-height;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  // background-color: aqua;
  border-bottom: 1px solid #00000029;
  display: flex;
  padding: 12px;
  // justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 10px #ddd;

  .layout_tabbar {
    display: flex;
    font-size: 12px;
    transition: all 0.3s;
  }

  > :nth-child(1) {
    flex: 1;
  }

  > :nth-child(3) {
    margin-right: 12px;
  }

  > :last-child {
    display: flex;
    align-items: center;
    margin-left: 12px;
    font-size: 14px;

    > div {
      margin-right: 16px;
      color: $base-color-primary;
    }
  }
}
