.cm-menu-item {
  color: $base-color-default;

  width: 100%;
  &.cm-menu-item-active {
    background-color: $base-bgcolor-default;
    // border-right: 5px solid $base-bgcolor-default;
  }
  &:not(.cm-menu-item-active):hover {
    color: $base-color-default;
    background-color: $base-color-base-primary;
  }
  .cm-menu-item-icon {
    margin-right: 8px;
    height: 20px;
  }
}

.cm-dropdown .cm-menu-item {
  color: $base-color-dark !important;
}

.cm-breadcrumb-item {
  .cm-space {
    display: flex;
    align-items: center;
    span {
      display: block;
    }
  }
}

.cm-pagination-num {
  &.cm-pagination-item-active {
    background-color: $base-bgcolor-primary;
    color: $base-color-default;
  }
}

.cm-table-cell {
  white-space: nowrap;
  display: block;
}

.cm-button {
  &.cm-button-text {
    padding: 0 4px;
  }

  &.cui-text-button-danger {
    color: #f56c6c;
  }
  &.cui-text-button-primary {
    color: #1890ff;
  }
}
