.lf-mini-map {
  padding-top: 36px !important;
  right: 15px !important;
  top: 80px !important;
  .lf-mini-map-header {
    height: 36px !important;
    line-height: 36px !important;
    background-color: $base-bgcolor-primary !important;
    background-image: none !important;
    box-shadow: none !important;
    color: #fff !important;
    border: 0 !important;
  }
  .lf-mini-map-close {
    top: 9px !important;
    right: 4px !important;
  }
}
