//项目提供scss全局变量
//定义项目主题颜色

// color

$base-color-primary: #3260c9;
$base-color-default: #fff;
$base-color-dark: #000;
$base-color-success: #3bb346;
$base-color-warning: #fc8800;
$base-color-danger: #f93920;

$base-bgcolor-primary: #3260c9;
$base-bgcolor-default: #fff;
$base-bgcolor-success: #3bb346;
$base-bgcolor-warning: #fc8800;
$base-bgcolor-danger: #f93920;

$base-border-primary: #3260c9;
$base-border-info: #909399;
// color hover

$base-color-base-primary: rgb(40, 77, 161);

// header的高度
$base-header-height: 48px;
$base-tagList-height: 36px;
//左侧的菜单的宽度
$base-menu-width: 230px;
//左侧菜单的背景颜色
$base-menu-background: #fff;
$base-menu-min-width: 50px;

// 顶部导航的高度
$base-tabbar-height: 50px;

//左侧菜单logo高度设置
$base-menu-logo-height: 50px;

//左侧菜单logo右侧文字大小
$base-logo-title-fontSize: 20px;
